@*@model IEnumerable<Sodatra.Models.InvoiceModel>*@
@model IEnumerable<Sodatra.Table_SodatraDetails>




@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<h2>Sodatra</h2>
@*hello*@
<p>
    @*<input type="button" value="Create New" onclick="CreateNew();" />*@

    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberAV)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberAV)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.SodatraId }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.SodatraId }) |*@
                @Html.ActionLink("View", "View", new { id = item.SodatraId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SodatraId })
            </td>
        </tr>
    }

</table>


<script>
    if ('@ViewBag.Message' != "") {
        alert('@ViewBag.Message');
    }
    var url_Create = '@Url.Content("~/Invoice/Index1/")';
    function CreateNew() {
        window.location = url_Create;
    }
</script>